body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* main */

main {
  flex: 1 1 auto;
}

/* footer */

footer {
  background-color: #19c0d270;
  border-top: 1px solid black;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
